@use "../../../styles/variables.scss" as *;

.wrapper {
    position: relative;
    display: flex;
}

.input {
    all: unset;
    box-sizing: border-box;
    background-color: var(--color-items);
    height: 48px;
    width: 512px;
    padding: 0 $spacing-md;
    border: 1px solid var(--color-border);
    border-radius: $border-radius-md;
    font-size: $font-size-lg;
    transition: border $transition-medium;

    &:focus {
        border: 1px solid var(--color-accent);
        transition: border $transition-fast;
    }
}
