@use '../../shared/styles/variables.scss' as *;

.wrapper {
    display: flex;
    height: calc(100% - 64px);
    width: 100%;
    margin: 0 auto;

    &.forHeader {
        max-width: none;
        width: 100%;
        height: 100%;
        flex-direction: column;
    }
}

.pagePart {
    height: 100%;
    width: 100%;
}