@use "../../../styles/variables.scss" as *;

.wrapper {
    display: block;
    background-color: var(--color-border);

    &.h {
        height: 1px;
        width: 100%;
    }

    &.v {
        width: 1px;
        height: 100%;
    }
}
