@import "../../../../shared/styles/variables.scss";

.wrapper {
    border: 1px solid var(--color-border);
    padding: $spacing-xxs;
    border-radius: $border-radius-lg;
    background-color: var(--color-items);
    line-height: $spacing-lg;
    width: 100%;

    opacity: 1;
    transition: opacity 0.3s ease;

    &.fadeOut {
        opacity: 0;
    }
}

.name {
    display: inline-flex;
    align-items: center;
    width: fit-content;
    height: 32px;
    position: relative;
    border: 1px solid var(--color-border);
    border-radius: $border-radius-md;
    padding: $spacing-xxs $spacing-xs;
    background-color: var(--color-surface);
    margin-right: $spacing-xxs;
    box-shadow: $shadow-sm;
    white-space: nowrap;
}

.message {
    position: relative;
    left: 2px;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.7);
    user-select: text;
}

.icon {
    position: relative;
    margin-right: $spacing-xxs;
}

.wrenchIcon {
    position: relative;
    top: 1.5px;
    height: 14px;
    width: 14px;
    margin-left: $spacing-xxs;
}
