@import '../../../../shared/styles/variables.scss';

.wrapperOfWrapper {
    position: relative;
}

.wrapper {
    display: flex;
    flex-direction: column;
    background-color: var(--color-items);
    border-radius: $border-radius-md;
    height: 168px;
    width: 120px;
    border: 1px solid var(--color-border);
    box-shadow: $shadow-xs;
}

.inactive {
    opacity: 0.3;
}

.active:hover {
    transform: scale(1.03);
    box-shadow: $shadow-md;
    cursor: pointer;

    .icon {
        transform: scale(1.1);
    }
}

.icon {
    padding: $spacing-md;
    width: 100%;
    height: 70%;
}

.inputs {
    display: flex;
    flex-direction: column;
    padding: $spacing-md 0;
    gap: $spacing-sm;
}