@use '../../../shared/styles/variables.scss' as *;

.settingsBlock {
    display: flex;
    gap: $spacing-md;
    flex-wrap: wrap;
}

.info {
    position: absolute;
    display: flex;
    top: 50%;
}