@use "../../../shared/styles/variables.scss" as *;
@use "../../../shared/styles/animations.scss" as anim;

.wrapper {
    display: flex;
    flex-direction: column;

    border: 1px solid var(--color-border);
    background-color: var(--color-background);

    margin: $spacing-md;
    padding: $spacing-md;
    border-radius: $spacing-md;

    box-shadow: $shadow-xs;

    overflow: hidden;

    &.animated {
        animation: appear 0.5s;
    }

    interpolate-size: allow-keywords;
}

.mainBlock {
    height: 100%;
    background-color: var(--color-surface);
    flex-direction: row;
    gap: $spacing-md;
    padding: 0 $spacing-md;
    border-radius: $border-radius-lg;
}
