@use "../../../shared/styles/variables.scss" as *;


.connections {
    display: flex;
    flex-direction: row;
    gap: $spacing-md;
    padding: $spacing-md 0;
    overflow-x: auto;
    min-width: 0;
}

.href {
    color: var(--color-primary);
}

.lobby {
    display: flex;
    gap: $spacing-md;
    margin-left: auto;
}

.password {
    display: flex;
    flex-direction: column;
    gap: $spacing-sm;
}
