@use "../../shared/styles/variables.scss" as *;

.header {
    border-bottom: 1px solid var(--color-border);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 51px;
}

.draggable {
    height: 100%;
    width: 100%;
    padding: $spacing-xs $spacing-md;
    -webkit-app-region: drag;
}

.logo {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin: 0;
    padding: 2px 0 0 0;
}

.h1 {
    font-size: 20px;
}

.p {
    font-size: 12px;
    line-height: 0;
    color: var(--color-muted);
    padding-bottom: $spacing-xs;

    &.small {
        margin-left: 12px;
    }
}

.controls {
    display: flex;
    height: 100%;
    gap: $spacing-xs;
    padding: $spacing-xs;
}
