@import "../../../styles/variables.scss";

.wrapper {
    display: flex;
    align-items: center;
    gap: 0;

    height: 48px;
    border-radius: $border-radius-md;

    & h3 {
        font-size: $font-size-xl;
        font-weight: normal;
    }

    &:hover {
        gap: calc($spacing-sm - 4px);
    }

    &.current {
        background-color: var(--color-accent-transparent);
        gap: calc($spacing-md - 4px);

        &.first {
            margin-top: $spacing-md;

            &.mobile {
                margin-top: 4px;
            }
        }

        &.last {
            margin-bottom: $spacing-md;
            &.mobile {
                margin-bottom: 4px;
            }
        }
    }

    &.mobile {
        justify-content: center;
        gap: 0;
        width: 40px;
        border-radius: $border-radius-lg;
    }
}

.accent {
    position: relative;
    left: -2px;
    width: 0;
    height: 0px;
    background-color: transparent;
    border-radius: 2px;
    transition: $transition-medium;

    &.current {
        background-color: var(--color-accent);
        transform: $transition-fast;
        width: 4px;
        height: 28px;
    }
}

.icon {
    width: 24px;
    height: 24px;
    margin-right: calc($spacing-md - 4px);

    &.current {
        margin-right: 0;
    }

    &.mobile {
        margin-right: 0;
    }
}
