@use "../../../shared/styles/variables.scss" as *;

.wrapper {
    margin-top: 0;

    &.mobile {
        margin-top: 54px;
    }
}

.buttons {
    display: flex;
    flex-direction: column;
    background-color: var(--color-surface);
    padding: 0 $spacing-md 0 $spacing-md;
    border-radius: $border-radius-lg;
}

.container {
    display: flex;
    flex-direction: column;
    gap: $spacing-sm;
    padding: $spacing-md 0;
}
